.breadcrumbs {
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
}

ul.breadcrumbs {
    padding-left: 0;
}

.breadcrumbs li {
    float: left;
    margin-left: 5px;
    font-size: 20px;
}
